<article>
    <p><%=message.text%></p>
    <p><span>From: </span><%=message.user%></p>
    <p><%=message.added%></p>
    <a href="/messagedetails/<%=index%>" class="seeDetails">See Details</a>
</article>
