<html>
    <head>
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <h1>Message Details</h1>
        <article>
            <p><strong>Message:</strong> <%= message.text %></p>
            <p><strong>Author:</strong> <%= message.user %></p>
            <p><strong>Added:</strong> <%= message.added %></p>
        </article>
        <a href="/">Back</a>
    </body>
</html>
